<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Task Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Boards">Boards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/TaskItems">TaskItems</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> -->
      </ul>
      <ul class="navbar-nav">
        @if (isLoggedIn()) {
        <li class="nav-item">
          <span class="nav-link">{{loggedInUserMail()}}</span>
        </li>
        }
        <li class="nav-item">
          @if (!isLoggedIn()) {
          <a class="nav-link" routerLink="Auth/login">Login</a>
          }
          @else {
          <button class="nav-link" (click)="logout()">Logout</button>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="flex-grow-1">
  <div class="container my-4">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="py-4 bg-light border-top">
  <h1 style="text-align: center;">SilverSoft &copy; {{currentDate.getFullYear()}}</h1>
</footer>